
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


input,
textarea {
  box-sizing: border-box;
}


body {
  line-height: 1.2;
  width: 1920px;
  min-height: 100vh;
  background-image: url(/new-project/img/shutterstock_2189773743\ 1.png);
  display: flex;
  justify-content: center; /* чтобы контейнер */
  align-items: center; /* был по центру */
}
.logo-1 {
  position: absolute;
  background-image: url(/new-project/img/LOGO-02\ 3.png);
  width: 236px;
  height: 38px;
  left: 70px;
  top: 25px;
}
.logo-2 {
  position: absolute;
  background-image: url(/new-project/img/LOGO-40\ 1.png);
  width: 299px;
  height: 299px;
  left: 1076px;
  top: 473px;
}
.line {
  position: absolute;
  height: 0px;
  left: 70px;
  right: 70px;
  top: 89px;
  border: 1px solid #1a1a1a;
}
.buton {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  gap: 20px;
  width: 464px;
  height: 60px;
  left: calc(50% - 464px / 2);
  top: 513px;
  background: #1a1a1a;
  border-radius: 8px;
}
.buton h2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
